/* common shared styles */
* {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}
.btn-primary {
  border-radius: 5px;
  background: #fd6e0a;
  border: 0;
  color: #ffffff;
  font-size: 20px;
  font-weight: 700;
  padding: 18px 35px 19px 36px;
  /* margin-right: 30px; */
}

/* nav related styles */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin: 0px 30px; */
  /* margin: 50px 230px 0px 226px; */
  padding: 50px 230px 0px 230px;
  /* padding: 50px 0px; */
}
.nav-title {
  color: #181818;
  font-weight: 800;
  font-size: 45px;
}
nav > ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
}
nav a {
  text-decoration: none;
  margin-right: 51px;
  color: #474747;
  font-size: 20px;
  font-weight: 400;
}
/* header related styles */
.header {
  background-color: #fff8f3;
  background-image: url("../images/header_bg.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}
.banner {
  /* padding: 10px 10px 0px 130px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.banner-content {
  max-width: 585px;
  padding: 0px 0px 0px 230px;
}
.banner .pro-pic {
  width: 584px;
  height: 676px;
  padding: 47px 38px 0px 0px;
}
.banner-greet {
  color: #474747;
  font-size: 45px;
  font-weight: 600;
  padding-bottom: 5px;
  /* max-width: 177px;
  max-height: 61px; */
}
.banner-heading {
  color: #181818;
  font-size: 85px;
  font-weight: 700;
  padding-bottom: 20px;
  width: 498px;
  height: 116px;
}
.banner-para {
  color: #757575;
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 30px;
}
.contact {
  margin-left: 30px;
}
/* main section styles */
main {
  max-width: 1140px;
  /* max-height: 550px; */
  /* margin: auto auto; */
  padding: auto auto;
  margin: 0 auto;
  /* padding: 130px 230px 0px 230px; */
  /* padding: 209px 157px 221px 156px; */
}
main section {
  margin-top: 130px;
}

/* about section styles */
.about {
  border-radius: 10px;
  background: #fff8f3;
  /* max-width: 827px; */
  /* text-align: center; */
  /* justify-content: center; */
  /* margin: 130px 230px; */
  margin: 130px 0px;
  padding: 131px 157px 131px 156px;
  /* padding: 130px;
  margin: 130px 0; */
  /* padding: auto auto; */
}
.about-info-container {
  display: flex;
  justify-content: space-around;
  /* max-width: 827px; */
  /* padding-right: 50px; */
}
/* .about-info {
  text-align: center;
} */
.section-title {
  color: #181818;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
  padding-bottom: 30px;
}
.section-des {
  color: #757575;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  max-width: 827px;
  padding-bottom: 30px;
}
.info-title {
  color: #757575;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
}
.info-description {
  color: #474747;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
}
/* what i do related styles */
#what-i-do-des {
  max-width: 909px;
  /* text-align: center; */
  padding: 0px 140px 50px; /* T LR B */
}
.skills-container {
  display: flex;
  gap: 24px;
}
.skill {
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
  /* padding: 30px; */
  /* max-width: 267px;
  max-height: 377px; */
  /* text-align: center; */
  /* justify-content: space-evenly; */
}
.skill > img {
  padding: 30px 193px 30px 30px;
}
.skill-title {
  color: #181818;
  /* text-align: center; */
  font-size: 20px;
  font-weight: 700;
  padding: 0px 0px 20px 30px;
}
.skill-des {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  max-width: 201px;
  padding: 0px 33px 30px; /* T LR B */
}
/* Resume section styles */
.resume-col-title {
  color: #474747;
  font-size: 30px;
  font-weight: 700;
  padding-top: 113px;
}
.resume-container {
  display: flex;
  gap: 130px;
  /* justify-content: space-evenly; */
  /* max-width: 1140px; */
}
.resume-item-title {
  color: #474747;
  font-size: 25px;
  font-weight: 700;
  padding-top: 30px;
}
.resume-item-institute {
  color: #757575;
  font-size: 20px;
  font-weight: 600;
  padding-top: 10px;
}
.resume-item-des {
  color: #757575;
  font-size: 16px;
  font-weight: 400;
  /* max-width: 511px; */
  max-width: 450px;
  padding: 20px 0px 30px;
}
.resume-container hr {
  color: #d1d1d1;
  max-width: 558px;
  margin: 0px -90px 0px 0px;
}
/* .resume-des {
  width: 450px;
} */
/* #resume-des {
  width: 450px;
} */
.download-cv-btn {
  text-align: center;
  margin-top: 50px;
}
